/* ---------------------
    common design 
-------------------------------*/

body{
    
    font-family: 'Oswald', sans-serif;
}

section{
    margin: 60px 30px;
}

a{
    text-decoration: none;
    color: white;
}


h1{
    font-size: 60px;
    font-weight: 700;
}

h2{
    font-size: 50px;
    font-weight: 700;
}




/*-----------------------
 banner part desing start
-------------------------*/

.banner-content p{
    font-size: 15px;
    font-weight: 400;
    margin-top: -40px;
    margin-bottom: 40px;
}

.banner-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    border-radius: 10px;
    color: white;
}

.banner-content{
   padding-left: 50px;
}

.button{
    text-decoration: none;
    padding: 10px 25px;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.button i{
    transition: .5s;
}

.button:hover i{
    padding-left: 20px;
}

.banner-content img{
    width: 90%;
}

/*-------------------------- 
banner part design end 
--------------------------- */


/* -------------------------
blog part design start 
------------------------------ */
.blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr 3fr);
    grid-column-gap: 10px;
}
.blogs{
    height: 220px;
    width: 220px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.blogs-text a{
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    background-color: white;
    color: black;
    margin: 15px 0;
    height: 25px;
    width: 120px;
   
}
.blogs-text .active ,
.blogs-text a:hover{
    background-color: red;
    color: white;
}

.group-text .active ,
.group-text a:hover{
    background-color: red;
    color: white;
}

.upcoming-text .active ,
.upcoming-text a:hover{
    background-color: red;
    color: white;
}


.blogs-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.blogs-content-items{
    border: 1px solid rgb(201, 196, 196);
    border-radius: 10px;
}

.blogs-content-info button{
    margin: 10px 0 0 20px;
}

.blogs-content-info p{
    margin-left: 20px;
}

.blogs-content-icon{
    margin: 0 0 30px 20px;
}

.blogs-content-icon span{
    margin-right: 30px;
}

.view-all{
    text-align: center;
    margin-top: 40px;
    display: none;
}

/* -------------------------
blog part design end 
------------------------------ */

/* -------------------------
footer part design start 
------------------------------ */

#footer{
    background-color: black;
    padding: 50px 0;
}

.footer-top{
    color: white;
    text-align: center;
}

.footer-items{
    color: white;
    text-align: center;
    font-size: 16px;
}

.footer-items ul{
    list-style: none;
    
}
.footer-items ul li{
    display: inline-block;
    margin: 15px;
}

hr{
    background-color: rgb(94, 89, 89);
    width: 80%;
    height: 1px;
    border: none;
}


.footer-icon{
    text-align: center;
    
}

.footer-icon a{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    line-height: 50px;
    margin-right: 10px;
    font-size: 20px;
    color: black;
}

.footer-icon a:hover{
    background-color: #1da1f2;
    color: #ffffff;
}



/* -------------------------
footer part design end 
------------------------------ */





/* --------------------------
   upcoming part extra design start 
-----------------------------*/

#upcoming{
    display: grid;
    grid-template-columns: repeat(2, 1fr 3fr);
    grid-column-gap: 25px;
}
.upcoming-items{
    height: 220px;
    width: 250px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.upcoming-text a{
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    background-color: white;
    color: black;
    margin: 15px 0;
    height: 25px;
    width: 150px;
    
}

.upcoming-content{
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.upcoming-match{
    border: 1px solid rgb(185, 180, 180);
    border-radius: 5px;
    padding: 30px 30px;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vs{
    padding: 0 10px;
}

.team-and-time{
    text-align: center;
}

/* --------------------------
   upcoming part extra design end 
-----------------------------*/




/* --------------------------
   group part extra design start 
-----------------------------*/

#group{
    display: grid;
    grid-template-columns: repeat(2, 1fr 3fr);
    grid-column-gap: 25px;
}
.group-items{
    height: 220px;
    width: 250px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.group-text a{
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    background-color: white;
    color: black;
    margin: 15px 0;
    height: 25px;
    width: 150px;
    
}

.group-content{
    width: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.group-match{
    border: 1px solid rgb(255, 11, 11);
    border-radius: 5px;
    padding: 20px 60px 20px 25px;
    
}

.group-match h3{
    color: red;
}

.group-match ul li{
    border: 1px solid rgba(255, 57, 57, 0.621);
    padding: 5px 10px;
    
}

/* --------------------------
   group part extra design end 
-----------------------------*/



/* ---------------------------------------
    blog part media queries for mobile device start
--------------------------------------------------*/
@media only screen and (max-width:576px ) {
    
    /* banner part start */
    .banner-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-content{
        margin-top: 40px;
        padding: 0 25px;
        text-align: center;
    }

    /* banner part end */


    /* blog part start */
    .blog{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .blogs-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs-content img{
        width: 100%;
    }

    .blogs{
        background-color: transparent;
        
    }

    /* blog part end */


    /* footer part start */

    #footer{
        text-align: center;
        display: block;
    }
    .footer-items ul li{
        display: block;
     }

     .footer-items ul li a{
        margin-left: -45px;
     }

    hr{
        width: 80%;
     }


    /* footer part end */
}
/* ---------------------------------------
    blog part media queries for mobile device end
--------------------------------------------------*/



/* ---------------------------------------
    blog part media queries for tablet device  start
--------------------------------------------------*/

@media only screen and (min-width: 577px) and (max-width: 768px){
    /* banner part start */
    .banner-items{
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-content h1{
        font-size: 25px;
    }

    .banner-content p{
        padding-top: 20px;
    }

    .banner-content img{
        width: 100%;
    }
    /* banner part end */


    /* blog part start */
    .blog{
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs{
        background-color: transparent;
    }

    .blogs-text{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 65px;
        width: 100%;
    }

    .blogs-content{
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs-content img{
        width: 100%;
    }
    
    .view-all{
        display: block;
     }


    /* blog part end */

     /* footer part start */

     #footer{
        text-align: center;
    }
    .footer-items ul li{
        display: inline-block;
     }

    hr{
        width: 80%;
     }


    /* footer part end */

}

/* ---------------------------------------
    blog part media queries for tablet device  end
--------------------------------------------------*/

   
/* ---------------------------------------
    upcoming part media queries for mobile device start
--------------------------------------------------*/
@media only screen and (max-width:576px ){
    /* blog part start */

    #upcoming{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .upcoming-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .upcoming-content img{
        width: 50%;
    }

    .upcoming-items{
        background-color: transparent;
    }

    
}
     
/* ---------------------------------------
    upcoming part media queries for mobile device end
--------------------------------------------------*/


/* ---------------------------------------
    upcoming part media queries for tablet device  start
--------------------------------------------------*/
@media only screen and (min-width: 577px) and (max-width: 768px){
    
    /* blog part start */
    #upcoming{
        grid-template-columns: repeat(1, 1fr);
    }

    .upcoming-content{
        grid-template-columns: repeat(2, 1fr);
    }

    .upcoming-content img{
        width: 100%;
    }

    .view-all{
        display: block;
     }

     .upcoming-items{
        background-color: transparent;
    }

    .upcoming-text{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        width: 100%;
    }
    /* blog part end */
}
    
/* ---------------------------------------
    upcoming part media queries for tablet device  end
--------------------------------------------------*/


/* ---------------------------------------
    group part media queries for mobile device start
--------------------------------------------------*/
@media only screen and (max-width:576px ){
    /* blog part start */

    #group{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .group-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .group-items{
        background-color: transparent;
    }
} 
/* ---------------------------------------
    group part media queries for mobile device end
--------------------------------------------------*/


/* ---------------------------------------
    group part media queries for tablet device  start
--------------------------------------------------*/
@media only screen and (min-width: 577px) and (max-width: 768px){
    
    /* blog part start */
    #group{
        grid-template-columns: repeat(1, 1fr);
    }

    .group-content{
        grid-template-columns: repeat(2, 1fr);
    }

    .view-all{
        display: block;
     }

     .group-items{
        background-color: transparent;
    }

    .group-text{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        width: 100%;
    }
    /* blog part end */

   
}
/* ---------------------------------------
    group part media queries for tablet device  end
--------------------------------------------------*/








